<div class="row g-3 text-center flex-nowrap" id="movimientos-container">
    <div class="col-3">
        <img src="/static/Imagenes/movimientos.png" alt="Movimientos" class="movimientos-ing">
        <h2>Ingresos</h2>
    </div>
    <div class="col-3">
        <img src="/static/Imagenes/movimientos.png" alt="Movimientos" class="movimientos-gas">
        <h2>Gastos</h2>
    </div>
        <div class="col-3">
        <img src="/static/Imagenes/movimientos.png" alt="Movimientos" class="movimientos-trans">
        <h2>Transferencia</h2>
    </div>
        <div class="col-3">
        <img src="/static/Imagenes/movimientos.png" alt="Movimientos" class="movimientos-crear">
        <h2>Crear</h2>
    </div>
</div>