<div id="site-header">
    <header class="header">

        <button class="menu-toggle" id="menu-toggle">☰</button>

        <div class="logo">
            <h1>MoneyHome</h1>
            <img src="{{ url_for('static', filename='Imagenes/logo.png') }}" class="logo-image">
        </div>

        <nav class="nav-menu" id="nav-menu">
            <a href="/">Home</a>
            <a href="/movimientos">Movimientos</a>
            <a href="/logout">Cerrar sesión</a>
        </nav>

    </header>

    <div class="user-section">
        <span class="welcome">Bienvenido</span>
    </div>
</div>