<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/CSS/styles.css">
    <script src="/static/JavaScript/main.js" defer></script>
    <title>Document</title>
</head>
<body>
    {% include 'header.html' %}
        {% include 'basemov.html' %}
    <!-- cONTENIDO DE MOVIMEINTOS -->
    <h3>{{ selected_label }}</h3>
    <p>{{ descripcion }}</p>

    {% if selected_key == 'crear' %}
    <!--Formulario de creación de movimiento-->
    <!--Tipo de movimiento-->
        <select id="tipo_movimiento" name="tipo_movimiento" class="form-select" required>
        <option value="">Selecciona una opción</option>
        <option value="ingreso">Ingreso</option>
        <option value="gasto">Gasto</option>
        <!--cambiar tipo para traer dato de la BD (PEDIENTE ID 1 Y 2 (ING Y EGRESO))-->
        <input type="text" id="descripcion" name="descripcion" class="form-control mt-2" placeholder="Descripción" required>
        <input type="number" id="monto" name="monto" class="form-control mt-2" placeholder="Monto" step="0.01" required>
        <select id="categoria_id" name="categoria_id" class="form-select mt-2" required>
            <option value="">Selecciona una categoría</option>
            {% for categoria in categorias %}
                <option value="{{ categoria.id }}">{{ categoria.nombre }}</option>
            {% endfor %}
        </select>
        <button type="submit" class="btn btn-primary mt-3">Crear Movimiento</button>



</select>
    {%else%}
        <table>
            <thead>
                <tr>
                    <th>Descripción</th>
                    <th>Monto</th>
                    <th>Fecha</th>
                </tr>
            </thead>
            <tbody>
                {% for movimiento in movimientos %}
                <tr>
                    <td>{{ movimiento.descripcion }}</td>
                    <td>${{ "%.2f"|format(movimiento.monto) }}</td>
                    <td>{{ movimiento.fecha }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
            {% endif %}

    {% include 'footer.html' %}
</body>
</html>