<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/CSS/styles.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="/static/js/main.js"></script>

    <title>Admin Tickets</title>
</head>
<body>
    {% include 'base_admin.html' %}

    <div class="container mt-4">
        <h2>Tickets de Soporte</h2>
        <!--Boton de crear Tickets-->
        <a href="/admin/tickets/crear" class="btn btn-primary mb-3">Crear Ticket</a>
        
        <!--Tabla de Tickets-->
        <table class="table table-striped mt-3">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nombre de Usuario</th>
                    <th>Asunto</th>
                    <th>Estado</th>
                    <th>Fecha de Creación</th>
                    <th>Usuario asignado</th>
                </tr>
            </thead>
            <tbody>
                {% for ticket in tickets %}
                <tr>
                    <td>{{ ticket.id }}</td>
                    <td>{{ ticket.usuario.nombre }}</td>
                    <td>{{ ticket.asunto }}</td>
                    <td>{{ ticket.estado }}</td>
                    <td>{{ ticket.fecha_creacion.strftime('%Y-%m-%d %H:%M') }}</td>
                    <td>{{ ticket.usuario_asignado.nombre if ticket.usuario_asignado else 'No asignado' }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>