    <div id="site-header">
<header class="header">

    <button class="menu-toggle" id="menu-toggle">☰</button>

    <div class="logo">
        <a href="/" class="home-link">
            <h1>MoneyHome</h1>
            <img src="/static/Imagenes/logo.png" alt="Logo" class="logo-image">
        </a>
    </div>

</header>
    {% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    <div class="container mt-3">
      {% for category, message in messages %}
        <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
          {{ message }}
          <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
        </div>
      {% endfor %}
    </div>
  {% endif %}
{% endwith %}
<!-- Volver a poner la limitante por rol -->
    <nav class="nav-menu">
    <a href="/">Home</a>
    <a href="/perfil">Perfil</a>
    {% if session['rol'] == 3 %}
    <a href="/bancos">Bancos</a>
    {% endif %}
    {% if session['rol'] == 3 %}
    <a href="/categorias">Categorías</a>
    {% endif %}
    {% if session['rol'] == 3 %}
    <a href="/familia">Familia</a>
    {% endif %}
    <a href="/mov">Movimientos</a>
    {% if session['rol'] == 3 %}
    <a href="/reportes">Reportes</a>
    {% endif %}
    <a href="/tickets">Soporte</a>
    <a href="/manuales">manuales</a>

    <a href="/logout" class="logout-btn">Cerrar sesión</a>
</nav>
    <div class="overlay"></div>


       
        <div class="user-section">
            <span class="welcome">Bienvenido, {{ session['nombre'] }}</span>
        </div>
    </div>
